body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
box-sizing: border-box;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.right {float: right;}

.button1 {
    background-color: #4CAF50;
    margin: 20px 20px 20px 20px;
    padding: 16px;
    color: white;
    transition-duration: 0.4s;
} /* Green */
.button1:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.button2 {
    background-color: #008CBA;
    margin: 20px 20px 20px 20px;
    padding: 16px;
    color: white;
} /* Blue */
.button3 {
    background-color: #f44336;
    margin: 20px 20px 20px 20px;
    padding: 16px;
    color: white;
} /* Red */
.button4 {
    background-color: #555555;
    margin: 20px 20px 20px 20px;
    padding: 16px;
    color: white;
} /* Black */

.input {
  width: 10%;
}

.grid-container {
  display: grid;
  gap: 25px;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
}

.grid-item {
  border: 0.5px groove rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  float:left;
  width: 250px
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.button-register {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.button-register:hover {
  opacity: 1;
}

.button-signin {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

.button-signin:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.register {
  background-color: #f1f1f1;
  text-align: center;
}

div.form {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}